@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 1800px) {
/*
	body{
		border: 1px solid black;
	}
*/
}
@media screen and (max-width: 1600px) {
/*
	body{
		border: 1px solid red;
	}
*/
	.banner .wrapper{
		top: 20%;
	}
	.home-pods::before, .mission-vision::before{
		background-size:100%;
		width: 110px;
		height: 118px;
		bottom: -25px;
		left: 0;
		z-index: 10;
	}
	.home-pods::after, .mission-vision::after {
		bottom: -25px;
		width: 58px;
		height: 107px;
		right: 2%;
		background-size: 100%;
	}
}
@media screen and (max-width: 1450px) {
/*
	body{
		border: 1px solid yellow;
	}
*/
	.banner-text{
		padding: 30px 15px 35px;
	}
	.home-podsin{
		margin: -40px 0 0;
	}
	.inner-banner-cont{
		padding: 25px 0;
		width: 360px;
	}
}
@media screen and (max-width: 1400px) {
/*
	body{
		border: 1px solid black;
	}
*/
}
@media screen and (max-width: 1350px) {
/*
	body{
		border: 1px solid red;
	}
*/
	.home-pods::before, .mission-vision::before, .home-pods::after, .mission-vision::after {
		display: none;
	}
}
@media screen and (max-width: 1300px) {
/*
	body{
		border: 1px solid yellow;
	}
*/
}
@media screen and (max-width: 1250px) {
/*
	body{
		border: 1px solid blue;
	}
*/
}
@media screen and (max-width: 1200px) {
/*
	body{
		border: 1px solid pink;
	}
*/
	.wrapper{
		margin: 0 2%;
		width: auto;
	}
	.banner-text{
		width: 630px;
	}
	.banner .wrapper{
		top: 15%;
	}
	.inner-right{
		width: 300px;
	}
	.inner-left{
		width: 68%;
	}
	.contact-info ul li{
		padding: 85px 0 0;
		background-position:  center 0 !important;
		text-align: center;
	}
}
@media screen and (max-width: 1150px) {
/*
	body{
		border: 1px solid green;
	}
*/
}
@media screen and (max-width: 1100px) {
/*
	body{
		border: 1px solid orange;
	}
*/
	.banner .wrapper{
		top: 12%;
	}
	.home-contact-info li{
		margin: 0 20px 0 0;
	}
	.inner-left{
		width: 66%;
	}
}
@media screen and (max-width: 1024px) {
/*
	body{
		border: 1px solid purple;
	}
*/
	.header{
		padding: 6px 0;
		border-width: 3px;
	}
	.logo{
		width: 160px;
	}
	.top-right p.call{
		font-size: 20px;
		line-height: 32px;
		padding: 0 0 5px 35px;
		background-size: auto 32px;
	}
	.top-right{
		padding: 12px 0 0;
	}
	.responsive{
		display:block;
	}
	.navigation{
		padding: 0;
		position: static;
	}
	.nav{
		display:none;
		overflow:hidden;
		opacity:0;
		min-height:0;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		transition: none;
		-webkit-transform-style: preserve-3d;
		position:absolute;
		top:98px;
		left:0;
		right:0;
		background:#51bcc7;
	}
	.flexnav-show{
		max-height: 2000px;
		overflow:visible !important;
        opacity: 1 !important ;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		display:block !important;
		z-index:100000;
	}
	.nav > li{
		float:none;
		margin:0;
		text-align:center;
		border-bottom:1px solid #73dfea;
		border-right:none;
	}
	.nav li a{
		padding:10px;
		display:block;
		line-height:20px;
		color: #FFF;
		margin: 0;
	}
	.nav li a:hover, .nav li a.active{
		color:#111111;
		background-color:transparent;
	}
	.nav li a:before{
		display: none !important;
	}
	.nav li.parent-dropdown a{
		background:url(../images/dropdown_ar_dwn.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a:hover{
		background:url(../images/dropdown_ar_dwn.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a.active{
		background:url(../images/dropdown_ar_dwn.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a.parent-active{
		background:url(../images/dropdown_ar_up.png) no-repeat 98% 16px;
	}
	.nav li.parent-dropdown a.active.activeurl{
		background:url(../images/dropdown_ar_up.png) no-repeat 98% 16px;
	}
	.nav li ul{
		position:static;
		width:auto;
		border:none;
	}
	.nav li ul li a{
		background-image:none !important;
	}
	.nav li ul li a:hover{
		color:#d2ae18;
	}
	.banner h1, .inner-banner h1{
		font-size: 24px;
		line-height: 32px;
	}
	.banner h2{
		font-size: 22px;
		line-height: 30px;
		margin: 0 0 12px;
	}
	.banner-text {
		width: 490px;
		padding: 22px 15px 25px;
	}
	.home-podsin{
		margin: -25px 0 0;
	}
	.home-podsin ul li::before{
		top: -15px;
		height: 15px;
	}
	.home-podsin ul{
		padding: 15px 0 9px;
	}
	.home-podsin ul li h3{
		font-size: 22px;
		line-height: 28px;
	}
	.home-podsin ul li{
		padding: 8px 0 25px;
	}
	.home-pods{
		padding: 0 0 41px;
	}
	.heading{
		font-size: 30px;
		line-height: 38px;
		padding: 34px 0 0;
		margin: 0 0 20px;
		background-size: 80px;
	}
	.home-about{
		padding: 50px 0 25px;
	}
	.transport{
		padding: 50px 0 130px;
	}
	.transport .heading{
		margin: 0 0 30px;
	}
	.home-about p{
		font-size: 18px;
		margin: 0 0 20px;
	}
	.transport-tabmenu li{
		font-size: 22px;
		line-height: 30px;
	}
	.transport-tabmenu{
		width: 260px;
	}
	.transport-tabmenu li a{
		padding: 14px 20px;
	}
	.transport-tabcont{
		left: 260px;
	}
	.client-feedback{
		padding: 50px 0 75px;
	}
	.client-feedback ul li{
		padding: 0 0 18px;
	}
	.client-feedback-right p{
		font-size: 22px;
		line-height: 26px;
		padding: 3px 0 0 28px;
	}
	.client-feedback .heading{
		margin: 0 0 30px;
	}
	.home-contact{
		padding: 50px 0 0;
	}
	.home-contact-btns{
		padding: 0 0 50px;
	}
	.home-contact .heading span{
		font-size: 24px;
	}
	.home-contact .heading{
		margin: 0 0 30px;
	}
	.banner .wrapper {
		top: 18%;
	}
	.bknow-bottom{
		padding: 50px 0;
	}
	.content{
		padding: 50px 0 30px;
	}
	.content p{
		font-size: 18px;
		margin: 0 0 20px;
	}
	.content ul{
		margin: 0 0 20px;
	}
	.content ul li{
		font-size: 18px;
		background-position: 0 5px;
		margin: 0 0 10px;
	}
	.mission-vision{
		margin: 42px 0 0;
		padding: 45px 0;
	}
	.our-values{
		padding: 44px 0 30px;
	}
	.content h3{
		font-size: 22px;
		line-height: 28px;
		margin: 0 0 20px;
	}
	.mission-in{
		padding: 0 35px 0 0;
	}
	.vision-in{
		padding: 0 0 0 35px;
	}
	.content ul.services{
		padding: 10px 0 0;
	}
	.service-head{
		padding: 10px 15px;
	}
	.content .service-head-left h3{
		font-size: 22px;
		line-height: 28px;
		padding: 20px 0 0;
	}
	.service-head img{
		margin: 0 15px 0 0;
	}
	.service-picin{
		height: 300px;
	}
	.content ul.right-menu li{
		font-size: 20px;
		line-height: 30px;
	}
	.inner-right{
		width: 278px;
	}
	.inner-left{
		width: 67%;
	}
	.content h2{
		font-size: 30px;
		line-height: 38px;
		margin: 0 0 20px;
	}
	.service-main-pic{
		margin: 30px 0 35px;
	}
	.back-btn{
		margin: 0 0 20px;
	}
	.contact-info ul li{
		font-size: 20px;
		line-height: 30px !important;
		margin: 0 35px 0 0;
	}
	.contact-info{
		padding: 50px 0 40px;
	}
	.book-now-form{
		width: 530px;
		padding: 25px 30px 50px;
	}
	.book-now-form::before{
		width: 140px;
		height: 151px;
		left: -120px;
		background-size: 100%;
	}
	.book-now-form::after{
		width: 78px;
		height: 144px;
		right: -70px;
		background-size: 100%;
	}
	.book-now{
		padding: 50px 0 70px;
	}
	.ftsocial{
		margin: 20px 0 0 30px;
	}
}
@media screen and (max-width: 1000px) {
/*
	body{
		border: 1px solid gray;
	}
*/
	.banner .wrapper{
		top: 16%;
	}
	.home-contact-info li{
		padding: 85px 0 0;
		width: 30%;
		background-position: center top !important;
		text-align: center;
		line-height: 22px;
	}
	.inner-right{
		width: auto;
		float: none;
		overflow: hidden;
		padding: 20px 0 0;
	}
	.inner-left{
		width: auto;
		float: none;
		overflow: hidden;
	}
	.ftlogo{
		float: none;
		margin: 0 auto;
	}
	.ftright{
		padding: 0;
		float: none;
		text-align: center;
		overflow: hidden;
	}
	.ftleft{
		float: none;
		overflow: hidden;
	}
	.ftnav{
		text-align: center;
		float: none;
		margin: 12px 0 0;
	}
	.ftnav li{
		float: none;
		display: inline-block;
		vertical-align: top;
		margin: 0 4px 0 0;
	}
	.footer{
		padding: 12px 0;
	}
	.ftsocial{
		float: none;
		margin: 5px 0 10px;
		text-align: center;
	}
	.ftsocial li{
		display: inline-block;
		vertical-align: top;
		float: none;
		margin: 0 4px 0 0;
	}
}
@media screen and (max-width: 950px) {
/*
	body{
		border: 1px solid brown;
	}
*/
	.inner-banner .wrapper{
		position: static;
		overflow: hidden;
		margin: 0;
		background-color: #151515;
		padding: 0 2%;
	}
	.inner-banner-wrap, .inner-banner-midalign{
		display: block;
		position: static;
	}
	.inner-banner-cont{
		width: auto;
		padding: 25px 0;
		background-color: transparent;
	}
	.banner h1, .inner-banner h1{
		color: #FFF;
	}
	.banner h1{
		margin: 0 0 8px;
	}
	.banner h2{
		margin: 0 0 20px;
	}
}
@media screen and (max-width: 900px) {
/*
	body{
		border: 1px solid black;
	}
*/
	.contact-info ul li{
		display: block;
		margin: 0 0 25px;
		min-height: inherit;
	}
}
@media screen and (max-width: 850px) {
/*
	body{
		border: 1px solid red;
	}
*/
	.our-mission{
		width: auto;
		float: none;
		overflow: hidden;
	}
	.mission-vision .wrapper{
		background: none;
	}
	.mission-in{
		padding: 0 0 40px;
		border-bottom: 1px dashed #FFF;
	}
	.mission-in::after{
		display: none;
	}
	.vision-in{
		padding: 40px 0 0;
	}
	.content ul.services li{
		width: 48.2%;
	}
	.service-head-left{
		width: 82%;
	}
	.content .service-head-left h3{
		padding: 8px 0 0;
	}
	.book-now-form{
		width: 440px;
	}
}
@media screen and (max-width: 800px) {
/*
	body{
		border: 1px solid yellow;
	}
*/
}
@media screen and (max-width: 768px) {
/*
	body{
		border: 1px solid blue;
	}
*/
	.transport-tabmenu li a{
		padding: 14px;
	}
	.transport-tabmenu{
		width: 200px;
	}
	.transport-tabmenu li{
		font-size: 20px;
		line-height: 26px;
	}
	.transport-tabcont{
		left: 200px;
	}
	.transport-tabmenu li a::after{
		width: 25px;
		right: -25px;
	}
	.home-podsin ul li h3{
		margin: 0 20px 15px;
	}
	.home-podsin{
		margin: -15px 0 0;
	}
	.service-picin {
		height: 230px;
	}
	.home-map #map{
		height: 100%;
	}
	.bknow-bottom{
		padding: 50px 0 100px;
	}
}
@media screen and (max-width: 700px) {
/*
	body{
		border: 1px solid pink;
	}
*/
	.home-podsin ul li{
		width: 50%;
		background-image: none;
	}
	.home-podsin ul li:nth-child(3):before, .home-podsin ul li:last-child:before{
		display: none;
	}
	.home-podsin ul li:nth-child(3), .home-podsin ul li:last-child{
		padding: 25px 0;
		border-top: 1px solid #c8c7c9;
	}
	.home-podsin ul:before{
		width: 1px;
		top: 15px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: block;
		content: '';
		position: absolute;
		background: url(../images/home_pods_line.png) no-repeat 0 0;
		background-size: 100% 100%;
		z-index: 100;
	}
	.home-podsin ul li:nth-child(2):before{
		background: url(../images/home_pods_toprt.png) no-repeat  0 0;
	}
	.transport-tabmenu{
		width: auto;
	}
	.transport-tabcont{
		position: static;
		height: 300px;
		width: 100%;
	}
	.transport-tabmenu li a::after{
		display: none;
	}
	.client-pic{
		float: none;
		margin: 0 auto 15px;
	}
	.client-pic::after{
		display: none;
	}
	.client-feedback-right p{
		text-align: center;
		padding: 0;
		background: none;
	}
	.client-feedback-right .title{
		text-align: center;
		margin: 0;
	}
	.home-contact-left{
		width: auto;
		float: none;
		overflow: hidden;
	}
	.home-contact-field{
		padding: 0 15px;
	}
	.home-contact input[type="text"], .book-now-form input[type="text"]{
		height: 48px;
	}
	.home-contact-info li{
		width: auto;
		display: block;
		margin: 0 0 20px;
		overflow: hidden;
		min-height: inherit;
	}
	.about-pic{
		width: 100%;
		float: none;
		margin: 0 0 20px;
	}
	.content ul.services li{
		width: auto;
		float: none !important;
		overflow: hidden;
	}
	.service-picin{
		height: 300px;
	}
	.content .service-head-left h3{
		padding: 20px 0 0;
	}
	.book-now-form{
		width: auto;
	}
	.book-now-form:before, .book-now-form:after{
		display: none;
	}
}
@media screen and (max-width: 650px) {
/*
	body{
		border: 1px solid green;
	}
*/
}
@media screen and (max-width: 600px) {
/*
	body{
		border: 1px solid orange;
	}
*/
	.logo{
		margin: 0 auto;
		float: none;
	}
	.top-right{
		float: none;
		padding: 6px 0 0;
		text-align: center;
	}
	.top-right p.call {
		font-size: 17px;
		line-height: 28px;
		padding: 0 0 4px 30px;
		background-size: auto 28px;
		background-position: 0 4px;
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.responsive{
		margin: 8px auto 0;
		float: none;
	}
	.home-contact-btns a.top{
		margin: 0 5px;
	}
	.nav{
		top: 161px;
	}
}
@media screen and (max-width: 550px) {
/*
	body{
		border: 1px solid purple;
	}
*/
}
@media screen and (max-width: 480px) {
/*
	body{
		border: 1px solid gray;
	}
*/
	.banner h1, .inner-banner h1 {
		font-size: 20px;
		line-height: 28px;
	}
	.banner h2{
		font-size: 18px;
		line-height: 26px;
	}
	.banner-text{
		padding: 35px 0 65px;
	}
	.home-podsin ul li h3 {
		font-size: 18px;
		line-height: 26px;
		margin: 0 15px 15px;
	}
	.home-pods{
		padding: 0 0 32px;
	}
	.home-podsin ul li{
		padding: 8px 0 20px;
	}
	.home-podsin ul li:nth-child(3), .home-podsin ul li:last-child {
		padding: 20px 0;
	}
	.home-about{
		padding: 40px 0 22px;
	}
	.transport{
		padding: 40px 0 80px;
	}
	.heading {
		font-size: 24px;
		line-height: 32px;
		padding: 30px 0 0;
		margin: 0 0 15px;
		background-size: 70px;
	}
	.home-about p {
		font-size: 16px;
		margin: 0px 0 15px;
		line-height: 24px;
	}
	.home-contact-btns a.top{
		display: block;
	}
	.home-contact-btns a.top img{
		margin: 0 auto 15px;
	}
	.home-contact-btns a.top.text{
		font-size: 20px;
		line-height: 60px;
		padding: 0 12px;
	}
	.transport-tabmenu li {
		font-size: 18px;
		line-height: 24px;
	}
	.transport-tabmenu li a{
		padding: 10px;
	}
	.transport-tabcont{
		height: 190px;
	}
	.transport .heading, .client-feedback .heading, .home-contact .heading{
		margin: 0 0 25px;
	}
	.client-feedback {
		padding: 40px 0 65px;
	}
	.client-feedback-right p{
		font-size: 20px;
		line-height: 24px;
	}
	.home-map{
		height: 300px;
	}
	.home-contact{
		padding: 40px 0 0;
	}
	.home-contact .heading span{
		font-size: 21px;
	}
	.home-contact input[type="text"], .book-now-form input[type="text"], .home-contact textarea, .book-now-form textarea{
		font-size: 15px;
	}
	.home-contact textarea, .book-now-form textarea{
		padding: 14px 0;
	}
	.book-now-btn {
		font-size: 18px;
		line-height: 50px;
		padding: 0 40px;
	}
	.home-contact-info{
		margin: 0 0 30px;
	}
	.home-podsin{
		margin: -12px 0 0;
	}
	.content{
		padding: 40px 0 15px;
	}
	.about-pic{
		margin: 0 0 15px;
	}
	.content p{
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 15px;
	}
	.content ul{
		margin: 0 0 15px;
	}
	.content ul li{
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 8px;
	}
	.mission-vision{
		padding: 36px 0 34px;
		margin: 38px 0 0;
	}
	.our-values{
		padding: 34px 0 15px;
	}
	.content h3{
		font-size: 20px;
		margin: 0 0 15px;
	}
	.mission-in{
		padding: 0 0 33px;
	}
	.vision-in{
		padding: 35px 0 0;
	}
	.content .service-head-left h3{
		font-size: 20px;
		line-height: 26px;
	}
	.service-picin{
		height: 260px;
	}
	.service-head{
		padding: 10px;
	}
	.content .service-head-left h3{
		padding: 0 0 0;
	}
	.service-head img{
		height: 50px;
	}
	.content ul.services li .link{
		margin: 9px 0 0;
	}
	.content h2 {
		font-size: 24px;
		line-height: 32px;
		margin: 0 0 15px;
	}
	.service-main-pic{
		margin: 25px 0;
	}
	.content h4{
		font-size: 20px;
		line-height: 26px;
		margin: 0 0 15px;
	}
	.content .right-block h4{
		padding: 0 0 0 15px;
	}
	.content ul.right-menu li a{
		padding: 6px 15px 6px 40px;
		background-position: 15px 15px;
	}
	.contact-info{
		padding: 40px 0 35px;
	}
	.contact-info ul li{
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 26px !important;
	}
	.book-now-form {
		padding: 20px 15px 30px;
	}
	.book-now-form textarea{
		height: 100px;
	}
	.book-now-form input[type="submit"]{
		height: 44px;
		font-size: 14px;
		padding: 0 15px;
	}
	.book-now{
		padding: 40px 0;
	}
	.ftnav li{
		display: block;
		margin: 0 0 2px;
	}
	.ftnav li:nth-child(2n){
		display: none;
	}
	.home-contact-btns{
		padding: 0 0 40px;
	}
	.bknow-bottom {
		padding: 40px 0 70px;
	}
}
@media screen and (max-width: 450px) {
/*
	body{
		border: 1px solid brown;
	}
*/
}
@media screen and (max-width: 400px) {
/*
	body{
		border: 1px solid black;
	}
*/
	.home-podsin ul li{
		width: auto;
		float: none;
	}
	.home-podsin ul:before{
		display: none;
	}
	.home-podsin ul li:nth-child(2) {
		padding: 20px 0;
		border-top: 1px solid #c8c7c9;
	}
	.home-podsin ul li:nth-child(2):before{
		display: none;
	}
	.home-podsin ul li h3{
		height: auto !important;
		font-size: 20px;
	}
	.home-podsin ul li:first-child::before{
		background: url(../images/home_pods_top.png) no-repeat 0 0;
	}
	.service-picin{
		height: 210px;
	}
}
@media screen and (max-width: 350px) {
/*
	body{
		border: 1px solid red;
	}
*/
}
@media screen and (max-width: 300px) {
/*
	body{
		border: 1px solid yellow;
	}
*/
}
