@charset "utf-8";
/* CSS Document */
.rslides {
  	position: relative;
  	list-style: none;
  	overflow: hidden;
  	width: 100%;
  	padding: 0;
  	margin: 0;
}
.rslides li {
  	-webkit-backface-visibility: hidden;
  	position: absolute;
  	display: none;
  	width: 100%;
  	left: 0;
  	top: 0;
}
.rslides li:first-child {
  	position: relative;
  	display: block;
  	float: left;
}
.rslides img {
  	display: block;
  	height: auto;
  	width: 100%;
  	border: 0;
}
.rslides_tabs{
	background:none;
	text-align:center;
	z-index:10;
	position: absolute;
	bottom: 112px;
	left: 0;
	right: 0;
	z-index: 1;
	background: url(../images/slider_tab_bg.png) no-repeat center 0;
	padding: 22px 0 28px;
}
.rslides_tabs li{
	list-style:none;
	display:inline-block;
	width:15px;
	height: 15px;
	vertical-align:top;
	margin: 0 5px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.rslides_tabs li:last-child{
	background: none;
	margin: 0;
}
.rslides_tabs li a{
	text-indent:-20000px;
	display:block;
	width:15px;
	height:15px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #FFF;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.rslides_tabs li.rslides_here a, .rslides_tabs li a:hover{
	background:#751403;
}
.banner .prev{
	width:57px;
	height:113px;
	left:178px;
	top:39%;
	position:absolute;
	display:block;
	text-indent:-200000px;
	background:url(../images/banner_prev.png) no-repeat 0 0;
	z-index:10000;
}
.banner .next{
	width:57px;
	height:113px;
	right:178px;
	top:39%;
	position:absolute;
	display:block;
	text-indent:-200000px;
	background:url(../images/banner_next.png) no-repeat 0 0;
	z-index:10000;
}