@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
body{
	font-family: 'PT Sans', sans-serif;
	font-size:19px;
	color:#111111;
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}
img{
	display:block;
	border:none;
	outline:none;
}
ul{
	list-style:none;
}
input:focus, textarea:focus, select:focus{
	outline:none;
}
textarea{
	overflow:auto;
}
input[type=text], input[type=password], input[type=submit], input[type=reset], textarea, select{
	-webkit-appearance:none;
	border-radius:0;
}
a{
	color:#000;
}
a, a:hover{
	text-decoration:none;
	outline:none;
}
.clear{
	clear:both;
	font-size:0;
	line-height:0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
}
.wrapper{
	width:1140px;
	margin:0 auto;
}
.hidden{
	opacity: 0;
}
.visible{
	opacity: 1;
}


/*header section start*/
.header{
	padding: 6px 0 0;
	border-bottom: 5px solid #51bcc7;
}
.logo{
	width: 240px;
	float: left;
}
.top-right{
	float: right;
	padding: 20px 0 0;
}
.top-right p.call{
	line-height: 40px;
	color: #30a0ab;
	font-size: 23px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	padding: 0 0 5px 42px;
	background: url(../images/top_call_icon.png) no-repeat 0 6px;
	float: right;
}
.top-right p.call span{
	color: #d2ae18;
}
.navigation{
	position: relative;
	z-index: 100;
	padding: 15px 0 0;
}
.nav{
	padding: 0;
	margin: 0;
}
.nav li{
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	line-height: 36px;
	text-transform: uppercase;
	float: left;
	position: relative;
	margin: 0 2px 0 0;
}
.nav li:last-child{
	border-right: none;
}
.nav li a{
	display: block;
	color: #262626;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 0 24px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	margin: 0 0 26px;
}
.nav li a:hover, .nav li a.active{
	background-color: #4dbbc6;
	color: #FFF;
}
.nav li a:before, .banner .btn:before, .back-btn:before, .book-now-btn:before{
	top: -14px;
	left: 0;
	right: 0;
	display: block;
	content: '';
	position: absolute;
	background: url(../images/nav_star_icon.png) no-repeat 0 0;
	width: 33px;
	height: 25px;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.nav li a:hover:before, .nav li a.active:before, .banner .btn:hover:before, .back-btn:hover:before, .book-now-btn:hover:before{
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.nav li ul{
	position: absolute;
	top: 62px;
	left: 0;
	width: 220px;
	background-color: #FFF;
	display: none;
}
.nav li ul li{
	float: none;
	margin: 0;
	font-size: 14px;
	line-height: 22px;
	text-transform: none;
	font-weight: 400;
	border-bottom: 1px solid #d2ae18;
}
.nav li ul li:last-child{
	border: none;
}
.nav li ul li a{
	padding: 10px 24px;
	color: #262626;
	margin: 0;
	border-radius: 0;
}
.nav li ul li a:before{
	display: none;
}
.nav li ul li a:hover{
	background-color: #4dbbc6;
}
.responsive{
	width:26px;
	display:none;
	float:right;
	cursor:pointer;
	display:none;
	position:relative;
	height:18px;
	margin: 5px 0 0;
}
.responsive span{
	background-color:#51bcc7;
	height:4px;
	display:block;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	position:relative;
	margin:7px 0;
}
.responsive span:before, .responsive span:after{
	background-color:#51bcc7;
	height:100%;
	width:100%;
	left:0;
	right:0;
	display:block;
	content:'';
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	position:absolute;
	transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.responsive span:before{
	top:-7px;
}
.responsive span:after{
	top:7px;
}
.responsive.active span::before {
	top: 0;
	transform: rotate(45deg);
}
.responsive.active span::after {
	top: 0;
	transform: rotate(-45deg);
}
.responsive.active span {
	background-color:transparent;
}
/*header section end*/


/*banner section start*/
.banner{
	position: relative;
}
.banner .wrapper{
	position: absolute;
	top: 30%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.banner-text{
	overflow: hidden;
	padding: 42px 15px 44px;
	background-color: rgba(255,255,255,.85);
	width: 733px;
	text-align: center;
	margin: 0 auto;
}
.banner h1, .inner-banner h1{
	font-size: 29px;
	line-height: 38px;
	text-transform: uppercase;
	color: #141515;
	position: relative;
	display: inline-block;
	padding: 0 32px;
	margin: 0 0 6px;
}
.banner h1:before, .banner h1:after, .inner-banner h1:after, .inner-banner h1:before, .sub-heading:before, .sub-heading:after{
	width: 27px;
	top: 0;
	bottom: 0;
	display: block;
	content: '';
	position: absolute;
	background: url(../images/banner_hdicon.png) no-repeat 0 center;
}
.banner h1:before, .inner-banner h1:before, .sub-heading:before{
	left: 0;
}
.banner h1:after, .inner-banner h1:after, .sub-heading:after{
	right: 0;
}
.banner h2{
	font-size: 28px;
	line-height: 39px;
	text-transform: uppercase;
	color: #298b95;
	font-weight: 300;
	margin: 0 0 16px;
}
.banner .btn, .back-btn{
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	text-transform: uppercase;
	line-height: 36px;
	padding: 0 25px;
	background-color: #4dbbc6;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	color: #FFF;
	position: relative;
}
/*banner section end*/


/*home pods section start*/
.home-pods{
	float: left;
	width: 100%;
	position: relative;
	z-index: 100;
	background: url(../images/home_pods_bg.jpg) repeat 0 0;
	padding: 0 0 50px;
}
.home-pods .wrapper{
	position: relative;
	z-index: 1;
}
.home-podsin{
	margin: -67px 0 0;
	width: 100%;
	float: left;
}
.home-podsin ul{
	text-align: center;
	margin: 0;
	padding: 22px 0 9px;
	overflow: hidden;
	position: relative;
}
.home-podsin ul:after{
	height: 9px;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	content: '';
	background: url(../images/home_pods_shadow.png) no-repeat 0 0;
	background-size: 100% 100%;
}
.home-podsin ul li{
	width: 25%;
	float: left;
	background: url(../images/home_pods_line.png) no-repeat 0 0 #FFF;
	padding: 8px 0 36px;
	position: relative;
	cursor: pointer;
}
.home-podsin ul li:first-child{
	background: #FFF;
}
.home-podsin ul li img{
	margin: 0 auto 8px;
}
.home-podsin ul li h3{
	font-size: 26px;
	line-height: 29px;
	margin: 0 35px 20px;
	color: #000;
	font-weight: 300;
}
.home-podsin ul li h3 a{
	color: #000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.home-podsin ul li .link, .content ul.services li .link{
	width: 43px;
	height: 35px;
	display: block;
	margin: 0 auto;
}
.home-podsin ul li.yellow .link, .content ul.services li.yellow .link{
	background: url(../images/arrow_yellow.png) no-repeat 0 0;
}
.home-podsin ul li.blue .link, .content ul.services li.blue .link{
	background: url(../images/arrow_blue.png) no-repeat 0 0;
}
.home-podsin ul li.green .link, .content ul.services li.green .link{
	background: url(../images/arrow_green.png) no-repeat 0 0;
}
.home-podsin ul li.yellow:hover h3 a{
	color: #eac320;
}
.home-podsin ul li.blue:hover h3 a{
	color: #4dbbc6;
}
.home-podsin ul li.green:hover h3 a{
	color: #69bd73;
}
.home-podsin ul li:before{
	top: -22px;
	left: 0;
	right: 0;
	display: block;
	content: '';
	position: absolute;
	background-size: 100% 100% !important;
	background: url(../images/home_pods_top.png) no-repeat  0 0;
	height: 22px;
}
.home-podsin ul li:first-child:before{
	background: url(../images/home_pods_toplt.png) no-repeat  0 0;
}
.home-podsin ul li:last-child:before{
	background: url(../images/home_pods_toprt.png) no-repeat  0 0;
}
.home-pods-block{
	overflow: hidden;
	position: relative;
	z-index: 1;
}
/*
.home-podsin ul li:after{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	content: '';
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.06) 60%, rgba(0,0,0,0.1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(60%, rgba(255,255,255,0.06)), color-stop(100%, rgba(0,0,0,0.1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.06) 60%, rgba(0,0,0,0.1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.06) 60%, rgba(0,0,0,0.1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.06) 60%, rgba(0,0,0,0.1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.06) 60%, rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.home-podsin ul li:hover:after{
	top: 0;
}
*/
.home-podsin ul li:hover .link, .content ul.services li:hover .link{
  	animation: animationFrames linear 1s;
  	animation-iteration-count: 1;
  	transform-origin: 50% 50%;
  	-webkit-animation: animationFrames linear 1s;
  	-webkit-animation-iteration-count: 1;
  	-webkit-transform-origin: 50% 50%;
  	-moz-animation: animationFrames linear 1s;
  	-moz-animation-iteration-count: 1;
  	-moz-transform-origin: 50% 50%;
  	-o-animation: animationFrames linear 1s;
  	-o-animation-iteration-count: 1;
  	-o-transform-origin: 50% 50%;
  	-ms-animation: animationFrames linear 1s;
  	-ms-animation-iteration-count: 1;
  	-ms-transform-origin: 50% 50%;
}
@keyframes animationFrames{
  0% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  15% {
    -moz-transform:  translate(-5px,0px)  rotate(-5deg) ;
  }
  30% {
    -moz-transform:  translate(3px,0px)  rotate(3deg) ;
  }
  45% {
    -moz-transform:  translate(-5px,0px)  rotate(-3deg) ;
  }
  60% {
    -moz-transform:  translate(3px,0px)  rotate(2deg) ;
  }
  75% {
    -moz-transform:  translate(-1px,0px)  rotate(-1deg) ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  15% {
    -moz-transform:  translate(-5px,0px)  rotate(-5deg) ;
  }
  30% {
    -moz-transform:  translate(3px,0px)  rotate(3deg) ;
  }
  45% {
    -moz-transform:  translate(-5px,0px)  rotate(-3deg) ;
  }
  60% {
    -moz-transform:  translate(3px,0px)  rotate(2deg) ;
  }
  75% {
    -moz-transform:  translate(-1px,0px)  rotate(-1deg) ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}
@-webkit-keyframes animationFrames {
   0% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  15% {
    -moz-transform:  translate(-5px,0px)  rotate(-5deg) ;
  }
  30% {
    -moz-transform:  translate(3px,0px)  rotate(3deg) ;
  }
  45% {
    -moz-transform:  translate(-5px,0px)  rotate(-3deg) ;
  }
  60% {
    -moz-transform:  translate(3px,0px)  rotate(2deg) ;
  }
  75% {
    -moz-transform:  translate(-1px,0px)  rotate(-1deg) ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}
@-o-keyframes animationFrames {
   0% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  15% {
    -moz-transform:  translate(-5px,0px)  rotate(-5deg) ;
  }
  30% {
    -moz-transform:  translate(3px,0px)  rotate(3deg) ;
  }
  45% {
    -moz-transform:  translate(-5px,0px)  rotate(-3deg) ;
  }
  60% {
    -moz-transform:  translate(3px,0px)  rotate(2deg) ;
  }
  75% {
    -moz-transform:  translate(-1px,0px)  rotate(-1deg) ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}
@-ms-keyframes animationFrames {
   0% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  15% {
    -moz-transform:  translate(-5px,0px)  rotate(-5deg) ;
  }
  30% {
    -moz-transform:  translate(3px,0px)  rotate(3deg) ;
  }
  45% {
    -moz-transform:  translate(-5px,0px)  rotate(-3deg) ;
  }
  60% {
    -moz-transform:  translate(3px,0px)  rotate(2deg) ;
  }
  75% {
    -moz-transform:  translate(-1px,0px)  rotate(-1deg) ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
}
/*home pods section end*/


/*home about section start*/
.home-about{
	padding: 58px 0 38px;
	overflow: hidden;
	text-align: center;
}
.heading{
	font-size: 36px;
	line-height: 44px;
	color: #111111;
	text-transform: uppercase;
	padding: 45px 0 0;
	background: url(../images/heading_icon.png) no-repeat center 0;
	text-align: center;
	margin: 0 0 23px;
}
.home-about p{
	line-height: 28px;
	margin: 0 0 26px;
	text-align: left;
}
.home-about p strong{
	font-weight: 700;
}
/*home about section end*/


/*transport section start*/
.transport{
	padding: 72px 0 200px;
	overflow: hidden;
	background: url(../images/transport_bg.jpg) no-repeat center bottom #46b6c5;
	background-size: 100% auto;
}
.transport .heading{
	color: #FFF;
	margin: 0 0 51px;
}
.transport-tab-section{
	overflow: hidden;
	position: relative;
}
.transport-tabmenu{
	width: 312px;
	margin: 0;
	padding: 0;
}
.transport-tabmenu li{
	font-size: 26px;
	line-height: 36px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	border-bottom: 1px dashed #FFF;
	background-color: #3eb64a;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.transport-tabmenu li:last-child{
	border-bottom: none;
}
.transport-tabmenu li:hover, .transport-tabmenu li.active{
	background-color: #eac320;
}
.transport-tabmenu li a{
	display: block;
	padding: 16px 34px;
	color: #FFF;
	position: relative;
}
.transport-tabmenu li a:after{
	width: 37px;
	right: -37px;
	top: 0;
	bottom: 0;
	display: block;
	content: '';
	position: absolute;
	background: url(../images/transport_active_ar.jpg) no-repeat 0 0;
	background-size: 100% 100%;
	opacity: 0;
	z-index: 1;
}
.transport-tabmenu li.active a:after{
	opacity: 1;
}
.transport-tabcont{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 312px;
	background-size: cover !important;
	display: none;
}
.transport-tabcont.pic1{
	background: url(../images/transport_pic1.jpg) no-repeat center 0;
}
.transport-tabcont.pic2{
	background: url(../images/transport_pic2.jpg) no-repeat center 0;
}
/*transport section end*/


/*client feedback section start*/
.client-feedback{
	padding: 52px 0 83px;
	overflow: hidden;
	background-color: #c7f0fd;
}
.client-feedback .heading{
	margin: 0 0 35px;
}
.client-feedback ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.client-feedback ul li{
	overflow: hidden;
	padding: 0 24px 18px 64px;
}
.client-pic{
	float: left;
	position: relative;
	width: 122px;
	height: 122px;
	border: 6px solid #FFF;
	margin: 0 16px 0 0;
	border-radius: 150px 150px 150px 150px;
	-moz-border-radius: 150px 150px 150px 150px;
	-webkit-border-radius: 150px 150px 150px 150px;
	-webkit-box-shadow: -1px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 2px 0px rgba(0,0,0,0.75);
}
.client-pic:after{
	position: absolute;
	display: block;
	content: '';
	background: url(../images/client_pic_ar.png) no-repeat 0 0;
	width: 28px;
	height: 22px;
	right: -22px;
	top: 65px;
}
.client-pic img{
	width: 100%;
	border-radius: 150px 150px 150px 150px;
	-moz-border-radius: 150px 150px 150px 150px;
	-webkit-border-radius: 150px 150px 150px 150px;
}
.client-feedback-right{
	overflow: hidden;
}
.client-feedback-right p{
	font-size: 24px;
	line-height: 28px;
	padding: 5px 0 0 28px;
	background: url(../images/testi_quote.png) no-repeat 0 0;
	color: #111;
	font-family:"Times New Roman", Times, serif;
	font-style: italic;
	margin: 0 0 13px;
}
.client-feedback-right .title{
	display: block;
	font-size: 20px;
	line-height: 26px;
	color: #111;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	margin: 0 0 0 28px;
}
/*client feedback section end*/


/*contact section start*/
.home-map{
	height: 383px;
	border-bottom: 1px solid #FFF;
	overflow: hidden;
}
.home-map #map{
	width: 100%;
	height: 140%;
}
.home-contact{
	padding: 80px 0 0;
	overflow: hidden;
	background: url(../images/home_contact_bg.jpg) no-repeat center 0;
	background-size: cover;
}
.home-contact .heading{
	color: #FFF;
	margin: 0 0 40px;
}
.home-contact .heading span{
	display: block;
	font-size: 29px;
	font-weight: 300;
	text-transform: none;
	color: #eac320;
}
.home-contact-form{
	overflow: hidden;
	padding:  0 0 32px;
}
.home-contact-left{
	width: 49.5%;
	float: left;
}
.home-contact-right{
	float: right;
}
.home-contact-field{
	margin: 0 0 8px;
	background-color: #FFF;
	padding: 0 21px;
	overflow: hidden;
}
.home-contact input[type=text], .book-now-form input[type=text]{
	height: 55px;
	font-size: 17px;
	color: #000;
	border: none;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
}
.home-contact textarea, .book-now-form textarea{
	height: 82px;
	font-size: 17px;
	color: #000;
	border: none;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	padding: 18px 0;
}
.textarea-field{
	padding-right: 0 !important;
}
.home-contact input[type=submit]{
	height: 55px;
	font-size: 15px;
	color: #FFF;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	display: block;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #4cbcca;
	position: relative;
}
.home-contact input[type=submit]:hover{
	background-color: #eac320;
	color: #111;
}
.home-contact-info{
	text-align: center;
	margin: 0 0 37px;
	padding: 0;
	overflow: hidden;
}
.home-contact-info li{
	display: inline-block;
	vertical-align: top;
	margin: 0 45px 0 0;
	text-align: left;
	font-size: 17px;
	line-height: 28px;
	color: #FFF;
	padding: 10px 0 0 74px;
	min-height: 67px;
}
.home-contact-info li:last-child{
	margin: 0;
}
.home-contact-info li a{
	color: #FFF;
}
.home-contact-info li.addrs{
	background: url(../images/home_contact_icon1.png) no-repeat 0 0;
	line-height: 22px;
}
.home-contact-info li.call{
	background: url(../images/home_contact_icon2.png) no-repeat 0 0;
}
.home-contact-info li.mail{
	background: url(../images/home_contact_icon3.png) no-repeat 0 0;
}
.home-contact-btns{
	text-align: center;
	overflow: hidden;
	padding: 0 0 100px;
}
.home-contact-btns a.top{
	display: inline-block;
	vertical-align: top;
	margin: 0 18px;
}
.home-contact-btns a.top.text{
	color: #e1e1e1;
	font-size: 24px;
	line-height: 78px;
	border: 1px solid #e1e1e1;
	padding: 0 17px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}
.book-now-btn{
	font-size: 20px;
	line-height: 53px;
	padding: 0 74px;
	background-color: #141515;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	position: relative;
}
/*contact section end*/


/*footer section start*/
.footer{
	padding: 9px 0 18px;
	overflow: hidden;
	border-top: 1px solid #333333;
}
.ftleft{
	float: left;
}
.ftnav{
	margin: 35px 0 0 20px;
	padding: 0;
	overflow: hidden;
	float: left;
}
.ftnav li{
	font-size: 13px;
	line-height: 19px;
	color: #969696;
	margin: 0 8px 0 0;
	float: left;
}
.ftnav li:last-child{
	margin: 0;
}
.ftnav li a{
	color: #969696;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ftlogo{
	float: left;
}
.ftright{
	padding: 23px 0 0;
	float: right;
}
.footer p{
	font-size: 13px;
	line-height: 19px;
	color: #969696;
}
.footer p a{
	color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.footer p a:hover,.ftnav li a:hover, .ftnav li a.active{
	color: #4cbcca;
}
.ftsocial{
	margin: 20px 0 0 60px;
	padding: 0;
	float: left;
	overflow: hidden;
}
.ftsocial li{
	float: left;
	margin: 0 8px 0 0;
}
.ftsocial li:last-child{
	margin: 0;
}
.ftsocial li a{
	width: 41px;
	height: 39px;
	display: block;
}
.ftsocial li a.fb{
	background: url(../images/ft_fb.png) no-repeat 0 0;
}
.ftsocial li a.fb:hover{
	background: url(../images/ft_fb_h.png) no-repeat 0 0;
}
.ftsocial li a.twit{
	background: url(../images/ft_twit.png) no-repeat 0 0;
}
.ftsocial li a.twit:hover{
	background: url(../images/ft_twit_h.png) no-repeat 0 0;
}
.ftsocial li a.in{
	background: url(../images/ft_in.png) no-repeat 0 0;
}
.ftsocial li a.in:hover{
	background: url(../images/ft_in_h.png) no-repeat 0 0;
}
.bknow-bottom{
	background: url(../images/book_now_ftbg.jpg) no-repeat center bottom #3eb64a;
	padding: 83px 0;
	background-size: 100% auto;
	text-align: center;
	overflow: hidden;
	
}
/*footer section end*/


/*about page start*/
.inner-banner{
	position: relative;
}
.inner-banner .wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.inner-banner-wrap{
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}
.inner-banner-midalign{
	display: table-cell;
	vertical-align: middle;
}
.inner-banner-cont{
	padding: 42px 0;
	width: 443px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	background-color: rgba(255,255,255,.85);
}
.inner-banner h1{
	margin: 0;
}
.content{
	padding: 62px 0 45px;
	overflow: hidden;
}
.content h2{
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	color: #000;
	margin: 0 0 25px;
}
.content h3{
	font-size: 24px;
	line-height: 32px;
	text-transform: uppercase;
	color: #161616;
	margin: 0 0 25px;
	position: relative;
}
.content h4{
	font-size: 21px;
	line-height: 28px;
	text-transform: uppercase;
	color: #161616;
	margin: 0 0 18px;
}
.about-pic{
	width: 43%;
	margin: 0 0 10px 20px;
	float: right;
}
.content p{
	line-height: 28px;
	margin: 0 0 28px;
}
.content ul{
	margin: 0 0 28px;
	padding: 0;
	overflow: hidden;
}
.content ul li{
	line-height: 28px;
	padding: 0 0 0 28px;
	margin: 0 0 12px;
	background: url(../images/listing.png) no-repeat 0 6px;
}
.content ul li:last-child{
	margin: 0;
}
.content p strong, .content ul li strong{
	font-weight: 700;
}
.content p span, .content ul li span{
	color: #3ab5c6;
	font-weight: 600;
}
.content p a, .content ul li a{
	color: #3ab5c6;
	text-decoration: underline;
}
.content p a:hover, .content ul li a:hover{
	text-decoration: none;
}
.mission-vision{
	background: url(../images/vision_mission_bg.jpg) no-repeat center 0;
	background-size: cover;
	position: relative;
	margin: 60px 0 0;
	padding: 49px 0 52px;
}
.mission-vision .wrapper{
	overflow: hidden;
	background: url(../images/vision_mission_line.png) repeat-y center 0;
	position: relative;
	z-index: 1;
}
.our-mission{
	width: 50%;
	float: left;
}
.content .our-mission h3{
	color: #FFF;
}
.content .our-mission p{
	color: #FFF;
	margin: 0;
}
.sub-heading{
	display: inline-block;
	vertical-align: top;
	padding: 0 35px;
}
.mission-in{
	padding: 0 75px 0 0;
	overflow: hidden;
	position: relative;
}
.mission-in:after{
	width: 105px;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	content: '';
	position: absolute;
	background: url(../images/mission_shadow.png) no-repeat 0 0;
	background-size: 100% 100%;
}
.vision-in{
	padding: 0 0 0 75px;
	overflow: hidden;
}
.mission-vision:before{
	bottom: -47px;
	display: block;
	content: '';
	position: absolute;
	background: url(../images/home_pods_illustration_lt.png) no-repeat 0 0;
	width: 192px;
	height: 208px;
	left: 3%;
	display: block;
	content: '';
}
.mission-vision:after{
	bottom: -47px;
	display: block;
	content: '';
	position: absolute;
	background: url(../images/home_pods_illustration_rt.png) no-repeat 0 0;
	width: 112px;
	height: 206px;
	right: 5%;
	display: block;
	content: '';
}
.content .home-contact-btns{
	text-align: left;
}
.content .book-now-btn{
	margin: 10px 0 0;
}
.our-values{
	overflow: hidden;
	background-color: #3eb64a;
	padding: 49px 0 45px;
}
.our-values p, .our-values h3{
	color: #FFF;
}
.content.about-cont{
	padding-bottom: 0;
}
/*about page end*/


/*services page start*/
.content ul.services{
	padding: 17px 0 0;
	margin: 0;
}
.content ul.services li{
	width: 48.5%;
	float: left;
	padding: 0;
	background: none;
	margin: 0 0 30px;
}
.content ul.services li:nth-child(2n){
	float: right;
}
.service-head{
	overflow: hidden;
	padding: 16px 30px;
}
.content ul.services li.yellow .service-head{
	border-left: 1px solid #eac320;
	border-top: 1px solid #eac320;
	border-right: 1px solid #eac320;
}
.content ul.services li.blue .service-head{
	border-left: 1px solid #4dbbc6;
	border-top: 1px solid #4dbbc6;
	border-right: 1px solid #4dbbc6;
}
.content ul.services li.green .service-head{
	border-left: 1px solid #69bd73;
	border-top: 1px solid #69bd73;
	border-right: 1px solid #69bd73;
}
.service-head-left{
	float: left;
	width: 86%;
}
.service-head img{
	float: left;
	margin: 0 18px 0 0;
}
.content .service-head-left h3{
	font-size: 26px;
	line-height: 34px;
	color: #000;
	font-weight: 300;
	text-transform: none;
	overflow: hidden;
	padding: 10px 0 0;
	margin: 0;
}
.content .service-head-left h3 a{
	color: #000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}
.content ul.services li.yellow:hover h3 a{
	color: #eac320;
}
.content ul.services li.blue:hover h3 a{
	color: #4dbbc6;
}
.content ul.services li.green:hover h3 a{
	color: #69bd73;
}
.content ul.services li .link{
	float: right;
	margin: 18px 0 0;
}
.service-pic{
	overflow: hidden;
}
.service-picin{
	height: 357px;
	display: block;
	width: 100%;
	background-size: cover !important;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.service-pic a{
	display: block;
	width: 100%;
	height: 100%;
}
.service-picin.pic1{
	background: url(../images/service_pic1.jpg) no-repeat center 0;
}
.service-picin.pic2{
	background: url(../images/service_pic2.jpg) no-repeat center 0;
}
.service-picin.pic3{
	background: url(../images/service_pic3.jpg) no-repeat center 0;
}
.service-picin.pic4{
	background: url(../images/service_pic4.jpg) no-repeat center 0;
}
.content ul.services li:hover .service-picin{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.client-fedback-service{
	background: url(../images/client_feedback_bg.jpg) no-repeat center 0;
	background-size: cover;
}
.client-fedback-service .heading{
	color: #FFF;
}
.client-fedback-service .client-feedback-right p, .client-fedback-service .client-feedback-right .title{
	color: #FFF;
}
.client-fedback-service .client-feedback-right p{
	background: url(../images/testi_quote_service.png) no-repeat 0 0;
}
.client-fedback-service  .bx-wrapper .bx-pager.bx-default-pager a {
	background:#FFF !important;
}
.client-fedback-service  .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #111 !important;
}
/*services page end*/


/*service detail page start*/
.inner-left{
	width: 760px;
	float: left;
}
.inner-right{
	width: 320px;
	float: right;
}
.service-main-pic{
	max-width: 100%;
	margin: 37px 0 42px;
}
.back-btn{
	padding: 0 36px;
	margin: 0 0 25px;
}
.right-block{
	margin: 0 0 30px;
	overflow: hidden;
	background-color: #3eb64a;
	padding: 6px;
}
.right-blockin{
	overflow: hidden;
	border: 1px solid #b5dfba;
	padding: 20px 0;
}
.content .right-block h4{
	padding: 0 0 0 18px;
	color: #FFF;
}
.content ul.right-menu{
	margin: 0;
}
.content ul.right-menu li{
	padding: 0;
	background: none;
	margin: 0;
	font-size: 22px;
	line-height: 31px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.content ul.right-menu li a{
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 6px 15px 6px 45px;
	background: url(../images/listing_wht.png) no-repeat 18px 15px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.content ul.right-menu li a.active, .content ul.right-menu li a:hover{
	background-color: #259c31;
}
/*service detail page end*/


/*contact page start*/
.contact-info{
	overflow: hidden;
	background: url(../images/home_pods_bg.jpg) repeat 0 0;
	padding: 53px 0 40px;
}
.contact-info .heading{
	color: #FFF;
}
.contact-info ul{
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.contact-info ul li{
	display: inline-block;
	vertical-align: top;
	margin: 0 42px 0 0;
	text-align: left;
	font-size: 22px;
	line-height: 33px;
	color: #FFF;
	padding: 10px 0 0 78px;
	min-height: 71px;
}
.contact-info ul li:last-child{
	margin: 0;
}
.contact-info ul li a{
	color: #FFF;
}
.contact-info ul li.addrs{
	background: url(../images/contact_icon1.png) no-repeat 0 0;
	line-height: 29px;
}
.contact-info ul li.call{
	background: url(../images/contact_icon2.png) no-repeat 0 0;
}
.contact-info ul li.mail{
	background: url(../images/contact_icon3.png) no-repeat 0 0;
}
/*contact page end*/


/*book now page start*/
.book-now-footer{
	background: #151515;
	margin: 0 !important;
}
.book-now{
	padding: 56px 0 90px;
	overflow: hidden;
}
.book-now-form{
	position: relative;
	padding: 55px 75px 78px;
	background: url(../images/book_now_bg.jpg) no-repeat center 0;
	background-size: cover;
	width: 565px;
	margin: 0 auto;
}
.book-now-form label{
	font-size: 17px;
	line-height: 22px;
	color: #FFF;
	text-transform: uppercase;
	display: block;
	margin: 0 0 8px;
	font-family: 'Oswald', sans-serif;
}
.book-now-form .home-contact-field{
	margin: 0 0 12px;
}
.book-now-form input[type=submit]{
	height: 48px;
	font-size: 15px;
	color: #FFF;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 18px;
	float: right;
	font-family: 'PT Sans', sans-serif;
	display: block;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #141515;
	margin: 2px 0 0;
}
.book-now-form input[type=submit]:hover{
	background-color: #FFF;
	color: #2db1c1;
}
.book-now-form:before{
	bottom: -23px;
	display: block;
	content: '';
	position: absolute;
	background: url(../images/home_pods_illustration_lt.png) no-repeat 0 0;
	width: 192px;
	height: 208px;
	left: -172px;
	display: block;
	content: '';
}
.book-now-form:after{
	bottom: -16px;
	display: block;
	content: '';
	position: absolute;
	background: url(../images/home_pods_illustration_rt.png) no-repeat 0 0;
	width: 112px;
	height: 206px;
	right: -93px;
	display: block;
	content: '';
}
.book-now-form textarea{
	height: 158px;
}
/*book now page end*/




